#portfolio {
    color: white !important;
    background: rgba(0, 0, 0, 0.9) !important;
    margin: 0 68px !important;
    padding: 30px;
    transition: ease-in-out 0.3s !important;
    max-width: 1140px !important;

    .container {
        .portfolio-title {
            padding: 15px;

            h2 {
                font-size: 14px;
                font-weight: 500;
                padding: 0;
                line-height: 1px;
                margin: 0 0 20px 0;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #aaaaaa;
                font-family: "Poppins", sans-serif;
            }

            h2::after {
                content: "";
                width: 120px;
                height: 1px;
                display: inline-block;
                background: #4ceb95;
                margin: 4px 10px;
            }
        }

        .row {
            .row-cols-1 {
                .col {
                    .card {
                        background: #f3f2f23b !important;

                        .p-3 {
                            text-decoration: none;
                            color: white;
                            padding: 4px 12px;
                        }

                        .card-body {
                            padding: 2px !important;
                            text-align: center !important;
                            a{
                                .btn-dark {
                                    color: #fff;
                                    background-color: #343a40;
                                    border-color: #343a40;
                                    padding: 7px 40px !important;
                                    margin-left: -4px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}