
.mobile-nav * {
    margin: 0;
    padding: 11px;
    list-style: none;
}
.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.7);
    transition: ease-in-out 0.2s;
    border-radius: 10px;
    padding: 10px 0;
    border: 2px solid rgba(255, 255, 255, 0.12);
    ul{
        .active{
            color: #18d26e;
            opacity: 1;
            visibility: visible;
        }
        li{
            list-style: none !important;
            a{
                text-decoration: none !important;
                color: white;
            }
            a:hover{
                color: #18d26e;
            }
        }
    }
}


.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(9, 9, 9, 0.6);
    overflow: hidden;
    display: block;
    transition: ease-in-out 0.2s;
}