* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    background: #040404 url("../img/bg.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
  }
.sect {
    overflow: hidden ;
    position: absolute ;
    width: 100% ;
    top: 140px ;
    bottom: 100% ;
    opacity: 0 ;
    transition: ease-in-out 0.4s ;
    z-index: 2 ;
}
.sect.section-show {
    top: 100px !important;
    bottom: auto !important;
    opacity: 1 !important;
    padding-bottom: 45px !important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input:focus,
a:focus,
button:focus {
    outline: none;
}

img {
    vertical-align: middle;
    border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    line-height: 1.2;
}

@import "_mediaquery";
@import "_header";
@import "_mixin";
@import "_About";
@import "_resume";
@import "_portfolio";
@import "_Contact";
@import "_resnav";

